
*{
    margin: 0;
    
}


header{
    background: rgb(4, 0, 20);
    color: rgb(219, 214, 214);
    height: 110px;
    
}

body{
    background-color: rgb(233, 230, 230);

}


#titulo{
    position: absolute; top: 2.5%; left: 10%;
    font-size: 270%;
    color:rgb(219, 214, 214);
    

}

#logo {
    position: absolute; top: 2%; left:5% ;
    width: 70px;
    height: 55px;
        
}

#inicio {
    position: absolute; top: 4%; left: 30%;
    font-size: 140%;

}

#conocenos {
    position: absolute; top: 4%; left: 35.5%;
    font-size: 140%;

}

#contacto {
    position: absolute; top: 4%; left: 44%;
    font-size: 140%;

}

#iniciar_sesion {
    position: absolute; top: 2%; left: 75%;
    font-size: 14px;
    text-decoration: none;
    color:rgb(219, 214, 214);

}

#registrarse {
    position: absolute; top: 2%; left: 82%;
    font-size: 14px;

}



